/* You can add global styles to this file, and also import other style files */

*,
*::after,
*::before {
  box-sizing: border-box;
  color: #fbfbfd;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
  overflow: hidden;
}

button {
  line-height: 1rem;
}

button:hover {
  filter: brightness(120%);
  // WARNING: If scale is altered, trasnition bugs
  transition-duration: 400ms;
}

button:disabled {
  filter: brightness(70%);
}

input {
  color: black;
}
