/* You can add global styles to this file, and also import other style files */

*,
*::after,
*::before {
  box-sizing: border-box;
  color: #fbfbfd;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
  overflow: hidden;
}

button {
  line-height: 1rem;
  height: 45px;
  font-family: "Montserrat", sans-serif;
  font-size: 1.1rem;
  font-weight: 200;
  border: none;
  background-color: rgb(172, 111, 33);
  border-radius: 10px;
  color: white;
  cursor: pointer;
}

button:hover {
  filter: brightness(120%);
  // WARNING: If scale is altered, trasnition bugs
  transition-duration: 400ms;
}

button:disabled {
  filter: brightness(70%);
}

form {
  display: flex;
  flex-direction: column;

  label {
    position: relative;
    width: 100%;
    display: block;
    height: 40px;
    z-index: 50;

    margin-bottom: 20px;
    padding-left: 10px;
    font-weight: 200;
    font-family: "Montserrat", sans-serif;
    font-size: 0.8rem;
    text-transform: uppercase;
    background: transparent;
  }

  input {
    top: 0;
    left: 0;
    position: absolute;
    background-color: transparent;
    border-radius: 0 0 5px 5px;
    margin-top: 10px;
    padding: 20px 20px 5px 20px;
    color: white;
    font-size: 1rem;
    width: 100%;
    border-bottom: rgb(255, 255, 255) 1px solid;
    border-left: rgb(255, 255, 255) 1px solid;
    border-right: rgb(255, 255, 255) 1px solid;
    border-top: none;
    outline: none;
    font-family: "Montserrat", sans-serif;
    font-weight: 200;

    &::placeholder {
      color: rgba(255, 255, 255, 0.6);
      font-family: "Raleway", sans-serif;
    }
  }
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
