.dashboard {
  height: 80vh;
  width: 100%;
  border: #fbfbfd 2px solid;
  display: flex;
  gap: 20px;
  background-color: rgba(0, 0, 0, 0.6);
  position: relative;

  .resumen {
    width: 100%;
    max-width: 490px;
    border-right: white 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    .resumen-upper {
      width: 100%;
    }

    .menu-title {
      height: 200px;
      background-color: rgba(0, 0, 0, 0.4);
      background-image: url("../../assets/img/menu.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: left;

      h3 {
        padding-top: 45px;
        padding-left: 10px;
        margin: 0;
        font-size: 3rem;
        line-height: 3rem;
        font-weight: 600;
      }
    }
  }

  app-recetas-lista {
    overflow-y: auto;
    -ms-overflow-style: none; /* IE y Edge */
    scrollbar-width: none; /* Firefox */
    &::-webkit-scrollbar {
      display: none;
    }
  }
}
