.body-container {
  background-image: url("../assets/img/hero-img.jpg");
  background-position: center;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  z-index: 200;

  &.blurred {
    background-image: url("../assets/img/hero-img-blurred.jpg");
  }

  .content {
    z-index: 900;
    height: 100%;
  }
}
