<div class="resumen-container">
  <h4>Datos nutricionales p/ comensal</h4>
  <div class="resumen-menu" *ngIf="menuSelected; else noMenu">
    <div class="table-col">
      <p>PAX {{ menuSelected.pax }}</p>
      <p>Kcal: {{ menuSelected.analisisNutricional.Kcal }}</p>
      <p>Proteínas: {{ menuSelected.analisisNutricional.prot }} gr</p>
    </div>
    <div class="table-col">
      <p>Carbohidratos: {{ menuSelected.analisisNutricional.carbs }} gr</p>
      <p>
        de los cuales azucares:
        {{ menuSelected.analisisNutricional.azucares }} gr
      </p>
    </div>
    <div class="table-col">
      <p>Grasas: {{ menuSelected.analisisNutricional.grasas }} gr</p>
      <p>
        de ellas saturadas: {{ menuSelected.analisisNutricional.saturadas }} gr
      </p>
    </div>
    <div class="table-col">
      <p>Observaciones: {{ menuSelected.analisisNutricional.avisos }}</p>
      <p>Avisos: {{ menuSelected.analisisNutricional.avisos }}</p>
      <p>Salud: {{ menuSelected.analisisNutricional.etiquetasSalud }}</p>
    </div>
  </div>

  <ng-template #noMenu>
    <p>Nada que mostrar hasta que selecciones un menú!</p>
  </ng-template>
</div>
