<div class="resumen-container">
  <h4>Datos nutricionales p/ comensal</h4>
  <div class="resumen-menu">
    <div class="table-col">
      <p>PAX 6</p>
      <p>Kcal: 1450</p>
      <p>Proteínas: 130 gr</p>
    </div>
    <div class="table-col">
      <p>Carbohidratos: 430 gr</p>
      <p>de los cuales azucares: 80 gr</p>
    </div>
    <div class="table-col">
      <p>Grasas: 233 gr</p>
      <p>de ellas saturadas: 33 gr</p>
    </div>
    <div class="table-col">
      <p>
        Observaciones: Contiene cacahuetes, Contiene soja, Contiene cacahuetes,
        Contiene soja,Contiene cacahuetes, Contiene sojaContiene cacahuetes,
        Contiene soja
      </p>
    </div>
  </div>
</div>
