<div class="recetas">
  <form [formGroup]="recetaForm" (ngSubmit)="onSubmit()">
    <div
      class="receta-header"
      [ngStyle]="{
        background: 'url(' + getBackground() + ')',
        backgroundSize: 'contain'
      }"
    >
      <h3 (click)="onPrePopulateRecipe()">
        {{
          recetaForm.get("recetaNombre").value
            ? recetaForm.get("recetaNombre").value
            : "Tu nueva receta"
        }}
      </h3>
      <div class="header-inputs">
        <input
          type="text"
          placeholder="El nombre de la receta"
          formControlName="recetaNombre"
          #recetaTitulo
        />
        <input
          type="text"
          placeholder="Imágen de la receta"
          formControlName="recetaImagen"
          #recetaBackground
        />
      </div>
    </div>
    <div class="ingrediente-input" formArrayName="ingredientes">
      <div
        *ngFor="let ingrediente of ingredientes.controls; let i = index"
        [formGroupName]="i"
      >
        <input
          type="text"
          placeholder="Ingrediente"
          formControlName="ingrediente"
        />
        <input
          type="number"
          placeholder="cantidad (gramos)"
          formControlName="ingredienteCantidad"
        />
        <button type="button" class="btn-add" (click)="onAddIngredient()">
          +
        </button>
        <button
          type="button"
          class="btn-delete"
          (click)="onDeleteIngredient(i)"
        >
          x
        </button>
      </div>
    </div>
    <button
      type="button"
      [ngStyle]="{ marginBottom: '15px', minHeight: '45px' }"
      (click)="onAnalize()"
    >
      Analizar
    </button>
    <div class="botones">
      <button type="submit" [disabled]="!recetaForm.valid">Guardar</button>
      <button type="button">Descartar</button>
    </div>
  </form>
  <app-analisis [analisis]="analisys"></app-analisis>
</div>
