.recetas {
  display: flex;
  margin-top: 100px;
  min-height: 50vh;
  max-width: 1000px;
  flex-wrap: wrap;

  form {
    width: 100%;
    max-width: 490px;
    min-width: 490px;
    max-height: 70vh;
    overflow-y: auto;
    -ms-overflow-style: none; /* IE y Edge */
    scrollbar-width: none; /* Firefox */
    &::-webkit-scrollbar {
      display: none;
    }

    .receta-header {
      min-height: 300px;
      display: flex;
      flex-direction: column;
      border-radius: 10px;
      overflow: hidden;
      justify-content: space-between;

      h3 {
        background-color: rgba(146, 47, 1, 0.85);
        line-height: 3rem;
        width: 100%;
        padding-left: 50px;
        margin-top: 0;
        border-bottom: 3px solid rgb(228, 96, 35);
      }

      .header-inputs {
        border-top: 3px solid rgb(228, 96, 35);
        background-color: rgba(146, 47, 1, 0.85);
        input {
          display: block;
          width: 100%;
          border-radius: 0;
        }
      }
    }

    .ingrediente-input {
      margin: 10px 0;

      input[type="text"] {
        width: 50%;
      }

      input[type="number"] {
        margin-left: 3%;
        width: 30%;
      }

      button {
        height: 30px;
        border-radius: 50%;
        padding: 0 12px;
        margin-left: 7.5px;

        &.btn-delete {
          background-color: rgb(204, 77, 77);
        }

        &.btn-add {
          background-color: rgb(92, 150, 104);
        }
      }
    }

    .botones {
      button {
        width: 45%;

        &:nth-last-child(1) {
          margin-left: 10%;
        }
      }
    }
  }

  app-analisis {
    width: 100%;
    height: min-content;
    max-width: 490px;
    border: 2px white solid;
    background-color: rgba(255, 255, 255, 0.123);
    margin-left: 20px;
  }
}
