<div class="right-side" *ngIf="menuSelected; else noMenuSelected">
  <div class="entrante">
    <div class="course-title">
      <h3>Entrantes</h3>
      <a
        >Añadir
        <img
          height="30px"
          src="../../assets/img/cuisine.svg"
          alt="añadir un plato"
      /></a>
    </div>
    <ul>
      <li>
        <div>
          <a class="edit-btn">&#9998;</a><a class="delete-btn">&#9747;</a>
          <p>
            Corte fino de jamón ibérico con tomates cherry Corte fino de jamón
            ibérico con tomates cherry
          </p>
        </div>
      </li>
      <li>
        <div>
          <a class="edit-btn">&#9998;</a><a class="delete-btn">&#9747;</a>
          <p>Ensalada con aguacate y frutos secos</p>
        </div>
      </li>
      <li>
        <div>
          <a class="edit-btn">&#9998;</a><a class="delete-btn">&#9747;</a>
          <p>Ensalada con aguacate y frutos secos</p>
        </div>
      </li>
      <li>
        <div>
          <a class="edit-btn">&#9998;</a><a class="delete-btn">&#9747;</a>
          <p>Corte fino de jamón ibérico con tomates cherry</p>
        </div>
      </li>
    </ul>
  </div>
  <div class="principales">
    <div class="course-title">
      <h3>Principales</h3>
      <a
        >Añadir
        <img
          height="30px"
          src="../../assets/img/cuisine.svg"
          alt="añadir un plato"
      /></a>
    </div>
    <ul>
      <li>
        <div>
          <a class="edit-btn">&#9998;</a><a class="delete-btn">&#9747;</a>
          <p>Corte fino de jamón ibérico con tomates cherry</p>
        </div>
      </li>
      <li>
        <div>
          <a class="edit-btn">&#9998;</a><a class="delete-btn">&#9747;</a>
          <p>Ensalada con aguacate y frutos secos</p>
        </div>
      </li>
      <li>
        <div>
          <a class="edit-btn">&#9998;</a><a class="delete-btn">&#9747;</a>
          <p>Corte fino de jamón ibérico con tomates cherry</p>
        </div>
      </li>
      <li>
        <div>
          <a class="edit-btn">&#9998;</a><a class="delete-btn">&#9747;</a>
          <p>Ensalada con aguacate y frutos secos</p>
        </div>
      </li>
    </ul>
  </div>
  <div class="postre">
    <div class="course-title">
      <h3>Postre</h3>
      <a
        >Añadir
        <img
          height="30px"
          src="../../assets/img/cuisine.svg"
          alt="añadir un plato"
      /></a>
    </div>
    <ul>
      <li>
        <div>
          <a class="edit-btn">&#9998;</a><a class="delete-btn">&#9747;</a>
          <p>Corte fino de jamón ibérico con tomates cherry</p>
        </div>
      </li>
      <li>
        <div>
          <a class="edit-btn">&#9998;</a><a class="delete-btn">&#9747;</a>
          <p>Ensalada con aguacate y frutos secos</p>
        </div>
      </li>
    </ul>
  </div>
</div>
<ng-template #noMenuSelected>
  <app-no-menu-selected></app-no-menu-selected>
</ng-template>
