<div class="right-side" *ngIf="menuSelected; else noMenuSelected">
  <div class="entrante">
    <div class="course-title">
      <h3>Entrantes</h3>
      <a (click)="onAddReceta('entrante')"
        >Añadir
        <img
          height="30px"
          src="../../assets/img/cuisine.svg"
          alt="añadir un plato"
      /></a>
    </div>
    <ul>
      <li *ngFor="let entrante of entrantes">
        <div>
          <a class="edit-btn">&#9998;</a><a class="delete-btn">&#9747;</a>
          <p>
            {{ entrante.recetaNombre }}
          </p>
        </div>
      </li>
    </ul>
  </div>
  <div class="principales">
    <div class="course-title">
      <h3>Principales</h3>
      <a (click)="onAddReceta('principal')"
        >Añadir
        <img
          height="30px"
          src="../../assets/img/cuisine.svg"
          alt="añadir un plato"
      /></a>
    </div>
    <ul>
      <li *ngFor="let principal of principales">
        <div>
          <a class="edit-btn">&#9998;</a><a class="delete-btn">&#9747;</a>
          <p>{{ principal.recetaNombre }}</p>
        </div>
      </li>
    </ul>
  </div>
  <div class="postre">
    <div class="course-title">
      <h3>Postre</h3>
      <a (click)="onAddReceta('postre')"
        >Añadir
        <img
          height="30px"
          src="../../assets/img/cuisine.svg"
          alt="añadir un plato"
      /></a>
    </div>
    <ul>
      <li *ngFor="let postre of postres">
        <div>
          <a class="edit-btn">&#9998;</a><a class="delete-btn">&#9747;</a>
          <p>{{ postre.recetaNombre }}</p>
        </div>
      </li>
    </ul>
  </div>
</div>
<ng-template #noMenuSelected>
  <app-no-menu-selected></app-no-menu-selected>
</ng-template>
