form {
  label {
    margin-top: 20px;
    input {
      padding-top: 20px;
      &.ng-touched.ng-invalid {
        border-bottom: 2px red solid;
        border-bottom: 2px red solid;
        border-bottom: 2px red solid;
      }

      &::placeholder {
        font-size: 1.1rem;
      }
    }
  }

  button {
    margin-top: 50px;
    height: 45px;
    width: 50%;
    display: block;
    font-family: "Montserrat", sans-serif;

    font-weight: 200;
    border: none;
    background-color: rgb(172, 111, 33);
    border-radius: 10px;
    color: white;
    cursor: pointer;

    &:disabled {
      background-color: rgba(172, 112, 33, 0.486);
      cursor: default;
    }

    &:nth-of-type(2) {
      margin-top: 5px;
    }
  }
}
