<div class="popup">
  <h2>{{ menuToEdit ? "Editar" : "Crear" }} menu</h2>
  <form [formGroup]="menuForm" (ngSubmit)="onSubmit()">
    <input
      type="text"
      placeholder="El nombre de tu menu"
      formControlName="menuName"
    />
    <input type="number" placeholder="Comensales" formControlName="pax" />
    <div class="botones">
      <button class="guardar" [disabled]="!menuForm.valid">
        {{ this.menuToEdit ? "Editar" : "Crear" }}
      </button>
      <button class="eliminar" type="button" (click)="onDeleteMenu()">
        Eliminar
      </button>
    </div>
  </form>
</div>
